.CheckoutItem {
  display: flex;
}

.MealImg {
  width: 200rem;
}

.MealImg img {
  width: 100%;
}

.Desc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: auto;
  margin-left: 20rem;
}

.Title {
  font-size: 36rem;
}

.PriceOuter {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.Price {
  font-size: 32rem;
  font-weight: bold;
}

.Price::before {
  content: "$";
  font-size: 28rem;
}
